<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap theme cosmo -->
		<link rel="stylesheet" href="css/bootstrap_cosmo.css">
	
		<!-- personalized css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
		$(document).ready(function(){
			$('#btn_subjects').click(function(){
				$(".msg").hide();
				$.ajax({
					url: '/subjects',
					method: 'GET',
					success: function(data){
						$('#actions').html(data);
					}
				})
			})

			$('#btn_parchment').click(function(){
				$(".msgs").hide();
				$.ajax({
					url: '/parchments',
					method: 'GET',
					success: function(data){
						$('#actions').html(data);

						clearTimeout(timerId);
						cronometer();

					}
				})
			})

		})

		var timerId = null;
		function cronometer(){
				$('.tempo_restante').each(function(){
					var time = ((parseInt($(this).html()) -1));
					if(time < 0){
						$(this).next('.seg').html("Done");
						$(this).next('.seg').next('a.revogar_ordem').remove();
						$(this).removeClass('tempo_restante');
					}
					else{
						$(this).html(parseInt(time));
					}
				});

				timerId = setTimeout(cronometer,1000);
		}
	</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<a href='/logout' class="btn btn-info pull-right">Logout</a>
				</div>
			</div>
		</nav>

	    <div class="container">

				<% if(msg == 'E')	{	%>
					<div class="alert alert-danger msgs">
						<strong> Error!</strong>
					</div>

					<% }%>

				<% if(msg == 'M')	{	%>
					<div class="alert alert-danger msgs">
						<strong> Warning! You do not have enough coins</strong>
					</div>

					<% }%>

				<% if(msg == 'S' || msg == 'D')	{	%>
					<div class="alert alert-success msgs">
						<strong> Success!</strong>
					</div>

					<% }%>
	    	
			<div class="row">
	    		<div class="col-sm-3 house">
					<img src="images/house_<%=img_house%>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/abilities/fear.jpg" title="Fear" alt="Fear" />
							<span><%= game.fear %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/abilities/wisdom.jpg" title="Wisdom" alt="Wisdom"/>
							<span><%= game.wisdom %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/abilities/trade.jpg" title="Trade" alt="Trade"/>
							<span><%= game.trade %></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/abilities/magic.jpg" title="Magic" alt="Magic"/>
							<span><%= game.magic %></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="actions" id='actions'>
						Sir, what do you want to do today?
					</div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/others/subject.jpg" title="Subjects" alt="Subjects" id='btn_subjects'/>
					</div>
					
					<div class="col-sm-1">
						<img src="images/others/parchment.jpg" title="Parchment" alt="Parchment" id='btn_parchment'/>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/others/coin.jpg" title="Coins" alt="Coins"/>
						<span><%= game.coins %></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>